body {
    margin: 1em auto;
    padding: 0em 1em;
    max-width: 50em;
}

a {
    text-decoration: none;
    color: red;
}

a:hover {
    background-color: yellow;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
}

td {
    border-left: 1px solid black;
    border-top: 1px solid black;
    padding-left: 0.5ex;
}

td {
    color: black;
    font-weight: bold;
}

td a {
    color: black;
    font-weight: bold;
}

td a:hover {
    background-color: white;
    font-weight: bold;
}
