* {
  box-sizing: border-box;
}

body, div, header, footer, main, h1, h2, h3, h4, h5, h6, p, ul {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: rgb(29, 125, 203);
}

a:hover {
  color: rgb(43, 159, 252);
}

a.href {
  cursor: pointer;
}

header {
  max-width: 1200px;
  width: auto;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-top: 30px;
}

header h1 {
  color: hsl(36, 93%, 45%);
  margin-bottom: 30px;
}

header p {
  font-weight: bold;
  margin: 0 10px;
}

header a {
  font-weight: lighter;
  margin-top: 5px;
}

main {
  max-width: 1200px;
  width: auto;
  margin: auto;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* align-items: flex-start; */
  padding: 10px;
}

main > div {
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;
  background-color: #f5f8f6;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 8px;
}

main > div h2 {
  font-size: larger;
}

main div.medium {
  width: calc(70% - 5px);
}

main div.small {
  width: calc(30% - 5px);
  background-color: #e2f3fd;
  display: flex;
  flex-direction: column;
  text-align: center;
}

main div.small h2 {
  text-align: center;
}

main h2 {
  margin-bottom: 15px;
}

main p {
  text-align: justify;
}

p.important {
  color: rgb(26, 22, 108);
  font-weight: bold;
}

p.breathe {
  margin: 10px 0;
}

span.important {
  font-weight: bolder;
  color: rgb(26, 22, 108);
}

div.date {
  width: 100%;
  margin-bottom: 10px;
}

div.date p {
  text-align: center;
}

@media (max-width: 800px) {
  main > div {
    flex: 100%;
  }
}

ul {
  column-count: 2;
  margin: 5px;
  column-width: 200px;
  list-style-type: none;
}

a.nav {
  margin-bottom: 10px;
}

a.button {
  background-color: #ec9509;
  color: #f9f8db;
  display: block;
  text-align: center;
  padding: 5px;
  border-radius: 2px;
}

a.button:hover {
  background-color: #ebac47;
}

p.bold {
  font-weight: bolder;
}

div.paper {
  /* padding: 0 10px; */
  /* border-left: 4px solid #abc; */
  width: 100%;
  display: flex;
  flex-direction: column;
}

div.paper h4 {
  text-align: left;
}

div.paper p {
  font-size: smaller;
  color:rgb(62, 62, 62);
  margin: 3px 0;
}

div.paper ul {
  column-count: 1;
  font-size: smaller;
  margin: 5px 15px;
  list-style-type: disc;
}

div.files {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
  padding: 4px 0;
}

div.files a {
  border-radius: 5px;
  color: #64a2d1;
  font-size: smaller;
}

div.files a:hover {
  color: #69bbfa;
}

table {
  border-collapse: collapse;
}

tbody::before
{
  content: '';
  display: block;
  height: 10px;
}

tbody tr {
  background-color: #ffffff;
}

tbody.break tr {
  background-color: #e6edf3;
}

tbody th {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

table tbody tr:last-child td:first-child {
  border-bottom-left-radius: 5px;
}

table tbody tr:last-child td:last-child {
  border-bottom-right-radius: 5px;
}

tbody.break td:first-child {
  border-top-left-radius: 5px;
}

tbody.break td:last-child {
  border-top-right-radius: 5px;
}

th, td {
  padding: 5px 15px;
  vertical-align: top;
}

tbody tr:nth-child(even) {
  background-color: #fafdff;
}

td:first-child {
  min-width: 130px;
}

span.small {
  font-weight: lighter;
  font-size: smaller;
}

span.speaker {
  /* color: rgb(86, 145, 196); */
  text-decoration: underline;
  text-decoration-style: dotted;
}

details summary {
  font-size: small;
  cursor: pointer;
}

details {
  flex-basis: 50%;
}

details p {
  width: 100%;
}
